body {
  background-color: black;
  color: white;
  font-family: Trebuchet MS,Arial,sans-serif;

}

h1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: .02em;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

.fa-envelope-o {
  background-color: white;
}


