{% extends 'base.html' %}

{% block title %}The COMIC SWAP {% endblock %}
{% block meta_content %}trade comics safely and easily {% endblock %}



{% block links %}



{% endblock %}



{% block content %}



    <h1>Comic Detail</h1>
    <div class="row">
        <div class="col-3 mb-4">
        <img src="../static/images/batman-p-250.jpg"></img>
        <div class="row ">
            <div class="col-12 pt-2 pb-2 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark" onclick="location.href='/newmail'">
                MESSAGE OWNER 
              </button>
            </div>
            <div class="col-12 pt-2 pb-2 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark" onclick="location.href='/offertrade'">
                OFFER A TRADE
              </button>
            </div>
            <div class="col-12 pt-2 pb-2 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" onclick="location.href='/acceptoffer'">
                ACCEPT OFFER
                </button>
            </div>
            <div class="col-12 pt-2 pb-2 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark" onclick="location.href='/markedasmailed'">
                I HAVE MAILED THIS
                </button>
            </div>

        </div>
        
        </div>
        <div class="col-9 mb-4">
            <!--Section: Comic Detail form-->
            <section class="shadow-5 p-4">
                <form>

                    <!-- Text input for comic owner -->
                    <div class="form-outline mb-4">
                        <input
                        value="{{ comic.owner.fname }} {{ comic.owner.lname }}"
                        type="text"
                        id="owner"
                        name="owner"
                        class="form-control"
                        autocomplete="off"
                        style="
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                        background-repeat: no-repeat;
                        background-attachment: scroll;
                        background-size: 16px 18px;
                        background-position: 98% 50%;
                        "
                    />
                    <label
                    class="form-label"
                    for="owner"
                    style="margin-left: 0px"
                    >Owner</label
                    >
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px" ></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                    <div class="form-notch">
                        <div  class="form-notch-leading"  style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px" ></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                    </div>

                    <!-- 2 col grid layout with text inputs for the title and issue -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input  type="text" 
                                id="comictitle" 
                                name="comictitle" 
                                value="{{ comic.title }}"
                                class="form-control"
                                style="
                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                                background-repeat: no-repeat;
                                background-attachment: scroll;
                                background-size: 16px 18px;
                                background-position: 98% 50%;
                                "
                    autocomplete="off"
                />
                <label
                    class="form-label"
                    for="comictitle"
                    style="margin-left: 0px"
                    >Title</label
                    >
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px">
                        </div>
                        <div class="form-notch-middle" style="width: 68.8px"  ></div>
                        <div class="form-notch-trailing">
                        </div>
                    </div>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle" style="width: 68.8px"></div>
                    <div class="form-notch-trailing"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="text" 
                id="issuenumber" 
                name="issuenumber" 
                value="{{ comic.issue_num}}"
                class="form-control" 
                autocomplete="off"
                style="
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-size: 16px 18px;
                    background-position: 98% 50%;
                    "
                />
                <label
                    class="form-label"
                    for="issuenumber"
                    style="margin-left: 0px"
                    >Issue Number</label
                >
                <div class="form-notch">
                    <div  class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle"  style="width: 68px"></div>
                    <div class="form-notch-trailing"></div>
                </div>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle"  style="width: 68px" ></div>
                    <div class="form-notch-trailing"></div>
                </div>
            </div>
        </div>
                    </div>

                    <!-- 2 col grid layout with text inputs for the year and price -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input  type="text" 
                                id="year" 
                                name="year"
                                value="{{ comic.year }}"
                                class="form-control"
                                style="
                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                                background-repeat: no-repeat;
                                background-attachment: scroll;
                                background-size: 16px 18px;
                                background-position: 98% 50%;
                                "
                    autocomplete="off"
                />
                <label
                    class="form-label"
                    for="year"
                    style="margin-left: 0px"
                    >Year</label
                    >
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px">
                        </div>
                        <div class="form-notch-middle" style="width: 68.8px"  ></div>
                        <div class="form-notch-trailing">
                        </div>
                    </div>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle" style="width: 68.8px"></div>
                    <div class="form-notch-trailing"></div>
                </div>
                </div>
                </div>
                <div class="col">
                <div class="form-outline">
                <input type="number" 
                id="price" 
                name="price"
                value="{{ comic.assessed_value}}"
                class="form-control" 
                autocomplete="off"
                style="
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-size: 16px 18px;
                    background-position: 98% 50%;
                    "
                />
                <label
                    class="form-label"
                    for="price"
                    style="margin-left: 0px"
                    >Price</label
                >
                <div class="form-notch">
                    <div  class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle"  style="width: 68px"></div>
                    <div class="form-notch-trailing"></div>
                </div>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle"  style="width: 68px" ></div>
                    <div class="form-notch-trailing"></div>
                </div>
                </div>
                </div>
                    </div>

                    <!-- 2 col grid layout with text inputs for publisher & pedigree -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input  type="text" 
                                id="publisher" 
                                name="publisher" 
                                value="{{ comic.publisher }}"
                                class="form-control"
                                style="
                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                                background-repeat: no-repeat;
                                background-attachment: scroll;
                                background-size: 16px 18px;
                                background-position: 98% 50%;
                                "
                    autocomplete="off"
                />
                <label
                    class="form-label"
                    for="publisher"
                    style="margin-left: 0px"
                    >Publisher</label
                    >
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px">
                        </div>
                        <div class="form-notch-middle" style="width: 68.8px"  ></div>
                        <div class="form-notch-trailing">
                        </div>
                    </div>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle" style="width: 68.8px"></div>
                    <div class="form-notch-trailing"></div>
                </div>
                </div>
                </div>
                <div class="col">
                <div class="form-outline">
                <input type="text" 
                id="pedigree" 
                name="pedigree" 
                value="{{ comic.pedigree }}"
                class="form-control" 
                autocomplete="off"
                style="
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-size: 16px 18px;
                    background-position: 98% 50%;
                    "
                />
                <label
                    class="form-label"
                    for="pedigree"
                    style="margin-left: 0px"
                    >Pedigree</label
                >
                <div class="form-notch">
                    <div  class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle"  style="width: 68px"></div>
                    <div class="form-notch-trailing"></div>
                </div>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle"  style="width: 68px" ></div>
                    <div class="form-notch-trailing"></div>
                </div>
                </div>
                </div>
                    </div>

                    <!-- 2 col grid layout with text inputs for source & grade -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input  type="text" 
                                id="source" 
                                class="form-control" 
                                value="{{ comic.assessed_source }}"
                                style="
                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                                background-repeat: no-repeat;
                                background-attachment: scroll;
                                background-size: 16px 18px;
                                background-position: 98% 50%;
                                "
                    autocomplete="off"
                />
                <label
                    class="form-label" for="source" style="margin-left: 0px"
                    >Grading Source</label
                    >
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px">
                        </div>
                        <div class="form-notch-middle" style="width: 68.8px"  ></div>
                        <div class="form-notch-trailing">
                        </div>
                    </div>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle" style="width: 68.8px"></div>
                    <div class="form-notch-trailing"></div>
                </div>
                </div>
                </div>
                <div class="col">
                <div class="form-outline">
                <input type="number" 
                id="grade" 
                name="grade" 
                value="{{ comic.cgc_grade }}"
                class="form-control" 
                autocomplete="off"
                style="
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-size: 16px 18px;
                    background-position: 98% 50%;
                    "
                />
                <label
                    class="form-label"
                    for="grade"
                    style="margin-left: 0px"
                    >Grade</label
                >
                <div class="form-notch">
                    <div  class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle"  style="width: 68px"></div>
                    <div class="form-notch-trailing"></div>
                </div>
                <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px"></div>
                    <div class="form-notch-middle"  style="width: 68px" ></div>
                    <div class="form-notch-trailing"></div>
                </div>
                </div>
                </div>
                    </div>
    
            
        
                    <!-- Text input address-->
                    <!-- <div class="form-outline mb-4">
                        <input
                        type="text"
                        id="form6Example4"
                        class="form-control"
                        autocomplete="off"
                        style="
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-size: 16px 18px;
                            background-position: 98% 50%;
                            "
                        />
                        <label
                        class="form-label"
                        for="form6Example4"
                        style="margin-left: 0px"
                        >Address</label
                        >
                        <div class="form-notch">
                            <div
                            class="form-notch-leading"
                            style="width: 9px"
                            ></div>
                            <div
                            class="form-notch-middle"
                            style="width: 55.2px"
                            ></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                        <div class="form-notch">
                            <div
                            class="form-notch-leading"
                            style="width: 9px"
                            ></div>
                            <div
                            class="form-notch-middle"
                            style="width: 55.2px"
                            ></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div> -->
        
                    <!-- Email input -->
                    <!-- <div class="form-outline mb-4">
                        <input
                        type="email"
                        id="form6Example5"
                        class="form-control"
                        autocomplete="off"
                        style="
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-size: 16px 18px;
                            background-position: 98% 50%;
                            "
                        />
                        <label
                        class="form-label"
                        for="form6Example5"
                        style="margin-left: 0px"
                        >Email</label
                        >
                        <div class="form-notch">
                            <div
                            class="form-notch-leading"
                            style="width: 9px"
                            ></div>
                            <div
                            class="form-notch-middle"
                            style="width: 40px"
                            ></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                        <div class="form-notch">
                            <div
                            class="form-notch-leading"
                            style="width: 9px"
                            ></div>
                            <div
                            class="form-notch-middle"
                            style="width: 40px"
                            ></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div> -->
        
                    <!-- Number input telephone-->
                    <!-- <div class="form-outline mb-4">
                        <input
                            type="number"
                            id="form6Example6"
                            class="form-control"
                            />
                            <label
                            class="form-label"
                            for="form6Example6"
                            style="margin-left: 0px"
                            >Phone</label
                            >
                            <div class="form-notch">
                                <div
                                class="form-notch-leading"
                                style="width: 9px"
                                ></div>
                                <div
                                class="form-notch-middle"
                                style="width: 44.8px"
                                ></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                            <div class="form-notch">
                                <div
                                class="form-notch-leading"
                                style="width: 9px"
                                ></div>
                                <div
                                class="form-notch-middle"
                                style="width: 44.8px"
                            ></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                        </div> -->
            
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                        <textarea
                        class="form-control"
                        id="notes"
                        name="notes"
                        value="{{ comic.notes }}"
                        rows="4"
                        ></textarea>
                        <label
                        class="form-label"
                        for="notes"
                        style="margin-left: 0px"
                        >Additional information</label
                        >
                        <div class="form-notch">
                            <div
                            class="form-notch-leading"
                            style="width: 9px"
                            ></div>
                            <div
                            class="form-notch-middle"
                            style="width: 131.2px"
                            ></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                        <div class="form-notch">
                            <div
                            class="form-notch-leading"
                            style="width: 9px"
                            ></div>
                            <div
                            class="form-notch-middle"
                            style="width: 131.2px"
                            ></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
            
                    <!-- Checkbox -->
                    <!-- <div class="form-check d-flex justify-content-center mb-4">
                        <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form6Example8"
                        checked=""
                        />
                        <label class="form-check-label" for="form6Example8">
                            Create an account?
                        </label>
                    </div> -->
            
 

                </form>

            </section>
            <!--Section: Comic Detail form-->
            
        </div>
    </div>





{% endblock %}