{% extends 'base.html' %}

{% block title %}The COMIC SWAP {% endblock %}
{% block meta_content %}trade comics safely and easily {% endblock %}

{% block links %}



{% endblock %}



{% block content %}


    <h1>The Comic Swap h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eos quos accusamus velit laboriosam neque quam fugiat deleniti ea voluptatum dolorem quidem magnam dolorum excepturi ipsum cumque, tenetur aliquam maxime.</p>

{% endblock %}