{% extends 'base.html' %}

{% block title %}The COMIC SWAP {% endblock %}
{% block meta_content %}trade comics safely and easily {% endblock %}



{% block links %}



{% endblock %}



{% block content %}


<h1>YOUR SAFE PLACE TO TRADE</h1>

    <div class="centered">

      <h2>Featured Collectables</h2>
      <P>Comics for trade or sale</P>
      <button type="button" style="margin-bottom: 60px;" class="btn btn-primary btn-rounded">
        View All Collectables
      </button>
   

    </div>
    
    <!-- CAROUSEL -->

    <section>
    
    <div class="glider-contain">
        <div class="glider">
          <div> 
            
            <img src="../static/images/batman-p-250.jpg"></img></div>
          <div> <img src="../static/images/captain_america-p-250.jpg"></img></div>
          <div> <img src="../static/images/Dr_strange-p-500.jpg"></img></div>
          <div> <img src="../static/images/fantastic4_and_black_panther-p-250.jpg"></img></div>
          <div> <img src="../static/images/iron_man-p-250.webp"></img></div>
          <div> <img src="../static/images/spider_man_coolest_pic-p-250.jpg"></img></div>
          <div> <img src="../static/images/superman-p-250.jpg"></img></div>
          <div> <img src="../static/images/wonder_woman_cooler-p-250.jpg"></img></div>
          <div> <img src="../static/images/x-men_kitty.jpg"></img></div>
        </div>
      
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
      </div>
    </section>

    <!-- END CAROUSEL -->



{% endblock %}