{% extends 'base.html' %}

{% block title %}The COMIC SWAP {% endblock %}
{% block meta_content %}trade comics safely and easily {% endblock %}



{% block links %}



{% endblock %}



{% block content %}



    <h1>MAIL Detail</h1>

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col">
                      <div class="card mb-4">
                        <div class="card-body">
                          <h5 class="card-title">Subject:  I would like to trade your Iron man #53 for my spiderman#12.</h5>
                          <h6>Date: 2/3/22</h6>
                          <h6>From: RedLeader12</h6>
                          <p class="card-text">
                            I would like to trade your Iron man #53 for my spiderman#12.  It's in great condition and Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, molestiae ratione, laborum quia aliquam eligendi provident, esse quasi facere nisi veritatis doloremque autem! Nulla quidem laudantium quos rerum temporibus amet!
                          </p>
                          <p class="card-text">Received at: 3:54PM</p>
                          <button type="button" class="btn btn-info" onclick="location.href='/messages'">
                            Back
                          </button>
                          <button type="button" class="btn btn-primary">
                            Reply
                          </button>
                          <button type="button" class="btn btn-danger">
                            Delete
                          </button>
                        </div>
                      </div>
      
                    </div>
                    <!--Grid column-->
      
 



{% endblock %}