{% extends 'base.html' %}

{% block title %}The COMIC SWAP {% endblock %}
{% block meta_content %}trade comics safely and easily {% endblock %}



{% block links %}



{% endblock %}



{% block content %}



    <h1>MY STUFF</h1> 
    <p><a href="#trades">My Trades</a> | <a href="#collection">My Collection</a> | <a href="#watchlist">My Watchlist</a></p>
    <h2 id="trades">My Trades</h2>

    <table class="table table-striped mb-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Username</th>
            <th scope="col">Comic ID</th>
            <th scope="col">In/Outgoing</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable-table-row" data-href="/comicdetail">
            <th scope="row">1</th>
            <td class="table-image"><img src="../static/images/batman-p-250.jpg"></img></td>
            <td>Markymark</td>
            <td>12345</td>
            <td>Outgoing</td>
            <td>In transit</td>
          </tr>
          <tr class="clickable-table-row" data-href="/comicdetail">
            <th scope="row">2</th>
            <td class="table-image"><img src="../static/images/captain_america-p-250.jpg"></img></td>
            <td>Aragorn1</td>
            <td>ou812</td>
            <td>Incoming</td>
            <td>In transit</td>
          </tr>
          
        </tbody>
      </table>


      <!-- pagination -->
      <div class="row">
        <div
          class="col-lg-4 col-md-12 mb-4 d-flex justify-content-center"
        >
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a
                  class="page-link"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  >Previous</a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#"
                  >2 <span class="visually-hidden">(current)</span></a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>



      </div>
    <!-- end pagination -->


    <h2 id="collection">My Comic Collection</h2>
    <table class="table table-striped mb-5">
        <thead>
          <tr class="" >
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Issue #</th>
            <th scope="col">year</th>
            <th scope="col">Grade</th>
            <th scope="col">Pedigree</th>
          </tr>
        </thead>
        <tbody>

        {% for mycomic in mycomics %}
          <tr class="clickable-table-row" data-href="/comicdetail/{{ mycomic.id}}">
            <th scope="row"  data-comic-id="{{ mycomic.id }}">1</th>
            <td class="table-image"><img src="{{ mycomic.thumbnail }}"></img></td>
            <td>{{ mycomic.title }}</td>
            <td>{{ mycomic.issue_num }}</td>
            <td>{{ mycomic.year }}</td>
            <td>{{ mycomic.cgc_grade }}</td>
            <td>{{ mycomic.pedigree }}</td>
          </tr>

        {% endfor %}


        </tbody>
    </table>

      <!-- pagination -->
      <div class="row">
          <div
            class="col-lg-4 col-md-12 mb-4 d-flex justify-content-center"
          >
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a
                    class="page-link"
                    href="#"
                    tabindex="-1"
                    aria-disabled="true"
                    >Previous</a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#"
                    >2 <span class="visually-hidden">(current)</span></a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>



        </div>
      <!-- end pagination -->

      <!-- SCRIPT TO MAKE WHOLE TABLE ROW CLICKABLE -->
      <script>
        $('tr[data-href]').on("click", function() {
            document.location = $(this).data('href');
        });
    </script>
    
    <h2 id="watchlist">My Watch List</h2>
    <table class="table table-striped mb-5">
        <thead>
          <tr class="clickable-table-row" data-href="/comicdetail">
            <th scope="col">#</th>
            <th scope="col">Title Contains</th>
            <th scope="col">Issue from</th>
            <th scope="col">Issue to</th>
            <th scope="col">Dates from</th>
            <th scope="col">Dates to</th>
            <th scope="col">Grade min</th>
            <th scope="col">Pedigree</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable-table-row" data-href="/comicdetail">
            <th scope="row"  data-comic-id="1357">1</th>
            <td>Watchman</td>
            <td>1</td>
            <td>100</td>
            <td>1970</td>
            <td>1975</td>
            <td>9.0</td>
            <td>Bowling Green</td>
          </tr>
          
        </tbody>
      </table>
      <!-- pagination -->
      <div class="row">
        <div
          class="col-lg-4 col-md-12 mb-4 d-flex justify-content-center"
        >
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a
                  class="page-link"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  >Previous</a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#"
                  >2 <span class="visually-hidden">(current)</span></a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>



      </div>
    <!-- end pagination -->



{% endblock %}